<!DOCTYPE html>
<html>

<head>
    <title>Weclome to Hacker News Searcher</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <h1>Weclome to Hacker News Searcher</h1>
    
    {% if error %}
       <h2> <strong>Error: {{error}}</strong></h2>
    {% endif %}

    <div id="main_items">

        <form action="/" method="post" id="query">
            <p><input type="text" id="inputquery" name="nm" size="100" placeholder="Enter a query here..." ></p>
            <p><input type="submit" value="submit"></p>
        </form>
        
    </div>

</body>

</html> 
