<!DOCTYPE html>
<html>

<head>
    <title>Weclome to Hacker News Searcher</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <h1>Weclome to Hacker News Searcher</h1>
    
    {% if error %}
       <h2> <strong>Error: {{error}}</strong></h2>
    {% endif %}

    <div id="inputItems">
        <form action="/" method="post" id="inputForm">
            <p><input type="text" id="searchTextbox" name="searchData" placeholder="Search..." ></p>
            <p><input type="submit" value="Search"></p>
        </form>
    </div>

</body>

</html> 
